*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;
background: linear-gradient(135deg,#0f172a,#1e293b);
color:white;

}

header{

text-align:center;
padding:120px 20px;

}

.title{

font-size:60px;
font-weight:700;

animation: fadeIn 2s;

}

.subtitle{

margin-top:10px;
opacity:0.7;

}

.socials{

margin-top:20px;

}

.socials a{

color:white;
font-size:24px;
margin:0 10px;
transition:0.3s;

}

.socials a:hover{

color:#38bdf8;
transform:scale(1.2);

}

section{

max-width:1000px;
margin:auto;
padding:60px 20px;

}

.about{

text-align:center;

}

.projects h2{

text-align:center;

margin-bottom:40px;

}

.project-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.card{

background:#1e293b;

padding:30px;

border-radius:10px;

transition:0.3s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 10px 25px rgba(0,0,0,0.4);

}

.card a{

display:inline-block;

margin-top:10px;

color:#38bdf8;

text-decoration:none;

}

footer{

text-align:center;

padding:30px;

opacity:0.6;

}

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(-30px);

}

to{

opacity:1;

}

}